@font-face {
    font-family: "Elegante";
    src: url(../font/Sakitu\ Baelah\ Clean.ttf);
}
@font-face {
    font-family: "h1";
    src: url(../font/Elegante\ Classica.ttf);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
.cuerpo{
    background-color: whitesmoke;
}

header{
    position: relative;
    background-color:rgba(16, 33, 49);
    width: 100%;
    height: 160px;
}
header img{
    position: absolute;
    height: 160px;
    width: 160px;
    left: 45%;
}
ul{
    list-style: none;
}

nav{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   background-color:rgba(16, 33, 49, 0.49);
   height: 60px;
   justify-content: center;
   position: sticky;
   font-size: 40px;
   font-family: Elegante;
   z-index: 20;
   top:0;
   
}

.nav li a{
    color:azure;
    text-decoration: none;
    padding: 10px 15px;
    display:block;
    padding-left: 47px;
    padding-right: 40px;
}
.nav li a:hover{
    background-color: darkseagreen;
}
.nav > li {
    float:left;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 150px;
}
.nav li:hover > ul{
    display:block;
}
.nav li ul li{
    position:relative;
    background-color:rgba(16, 33, 49, 0.49);    
}


.imag_madrid{
    position: relative;
    height: 650px;
    width: 100%;
}
.imag_madrid img{
    width: 28%;
    height: 300px;
    border-radius: 20px;
}
#aji{
    position: absolute;
    left: 10%;
    box-shadow: 5px 5px 10px red
}
#lomo{
    position: absolute;
    left: 37%;
    top: 170px;
    box-shadow: 5px 5px 10px white
}
#tacu{
    position: absolute;
    left: 64%;
    top: 320px;
    box-shadow: 5px 5px 10px red
}
h1{
    font-family: h1;
    font-size: 40px;
    text-align: center;
    margin: 15px;
}
h2{
    font-family: h1;
    text-align: center;
    margin: 15px;
    font-size: 28px;
}
.imag_lima{
    position: relative;
    height: 650px;
    width: 100%;
}
.imag_lima img{
    width: 28%;
    height: 300px;
    border-radius: 20px;
}
#espeto{
    position: absolute;
    left: 10%;
    box-shadow: 5px 5px 20px red
}
#pulpo{
    position: absolute;
    left: 37%;
    top: 170px;
    box-shadow: 5px 5px 20px yellow
}
#ensa{
    position: absolute;
    left: 64%;
    top: 320px;
    box-shadow: 5px 5px 20px red
}
.footer {
    display: flex;
    gap: 20px; 
    justify-content: space-evenly; 
    flex-wrap: wrap; 
    padding: 20px;
    background-color: rgba(16, 33, 49); 
    text-align: center;
    color: white;
}

.foot1, .foot2, .foot3{
    flex: 1 1 200px;
    max-width: 300px; 
    padding: 10px;
}

.mad_sec1{
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mad_bloq1 iframe{
max-width: 90%;
}


.mad_bloq2 p{
    font-family: h1;
    font-size: 30px;
    text-align: center;
}

.lim_sec1{
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lim_bloq1 iframe{
max-width: 90%;
}


.lim_bloq2 p{
    font-family: h1;
    font-size: 30px;
    text-align: center;
}

.not_sec1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 80px 40px;
}

.not_bloq1 {
    flex: 1 1 500px;
    text-align: left;
}

.not_bloq1 h2 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: left;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.not_sec2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 80px 40px;
}
.not_sec2 h2{
    text-align: left;
}

.not_sec3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 80px 40px;
}

.not_bloq5 {
    flex: 1 1 500px;
    text-align: left;
}

.not_bloq5 h2 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: left;
}
.not_bloq6 {
    flex: 1 1 500px;
    display: flex;
    justify-content: center;
}
.not_bloq6 video{
    width: 100%;
    max-width: 560px;
    height: auto;
    border-radius: 20px;
}


@media (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
    }
    .nav li {
        float: none;
        text-align: center;
    }
    .nav li a {
        padding: 10px;
        font-size: 25px;
    }
    .imag_lima, .imag_madrid {
        height: auto;
    }
    .imag_lima img, .imag_madrid img {
        width: 80%;
        height: auto;
        margin: 10px auto;
        display: block;
        position: static; 
       
    }
    #espeto, #pulpo, #ensa, #aji, #lomo, #tacu {
        position: static;
        top: auto;
        left: auto;
    }
    h1, h2 {
        font-size: 24px;
    }
    .mad_sec1{
        flex-direction: column;
    }
    .lim_sec1{
        flex-direction: column;
    }
 

}